body {
    overflow-x: hidden;
}

.blue {
    background-color: blueviolet;
    height: 2rem;
    width: 6.25rem;
}

#navbar .container-navbar {
    background-color: aqua
}

#hero h2{
    margin-left: 20px;
    
}
.container-header {
    background-color: aqua
    
}

.container-header button {
    margin-left: 20px;
    background-color: #5CB85F;
}


.img-car{
width: 100%;
height: auto;
}

.img-cewe{
    width: 100%;
}

#isi .fw-bold {
    margin-left: 20px;
}

#why-us h2 {
    font-size: 28px;
    padding-left: 20px;
}

#why-us .card-pro {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px 15px 15px 15px;
    height: 225px;
    width: 300px;
}

#why-us .card-content {
    padding: 20px;
}

#why-us img {
    padding: 10px 0;
}

#why-us h3 {
    font-size: 20px;
    font-weight: bold;
}


.container-iklan{
    padding-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
    background-color: blue;
}

.container-iklan button {
    background-color: #5CB85F;
}

.container-iklan hover {
    background-color: #5CB85F;
}
.container-iklan h3{
    padding: 20px 0;
}

.container-faq {
    padding-left: 100px;
}
#faq .container h2{
    padding-top: 20px;
    margin-left: 20px;
    font-size: 2em;
}
    
#faq .accordion-item {
    margin: 20px 0;
}
 
.container-testi {
    padding-top: 30px;
}

#testimonial {
    margin: 20px 0;
}

#testimonial .carousel-item {
    padding: 5px 0;
    align-items: center;
    justify-content: center;
}

#testimonial .card-testi {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px 15px 15px 15px;
    height: auto;
    align-items: center;
    justify-content: center;
}

#testimonial .card-content {
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#testimonial img {
    padding: 50px 50px;
}

#footer {
   padding-top: 100px;
}

#footer .blue {
    background-color: blue;
    border-radius: 5px;
    height: 34px;
    width: 100px;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    #hero p{
        font-size: 1.5em;
    }

    #hero h2 {
        font-size: 4em;
    }

    .img-cewe{
        width: 300px;
        padding-top: 50px;
    }

    .img-car{
        width: 100%;
        height: auto;
    }


    #isi h2{
        font-size: 3.5rem ;
        
        
    }

    #isi p{
        font-size: 1.5em;
        text-align: justify;
    }

    #why-us .container h2 {
        font-size: 3em;
        padding-top: 10px;
    }

    #why-us .container p {
        padding-left: 20px;
    }
    
}
